<header>
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"> Network Management Services </li>
            <li> <a href="{% url 'network_app:routers_network' %}">    Routers    </a> </li>
            <li> <a href="{% url 'network_app:interfaces_network' %}"> Interfaces </a> </li>
            <li> <a href="{% url 'network_app:users_network' %}">        Users    </a> </li>
            <li> <a href="{% url 'network_app:topology_network' %}"> Search Topology </a> </li>
            <li> <a href="{% url 'network_app:main_network' %}">       View Topology </a> </li>
          </ul>
        </div>
      </div>
</header>